<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338755907499-27pcbt6li00s3j0gfhnuop2u8b3gf3u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338755907499-27pcbt6li00s3j0gfhnuop2u8b3gf3u2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>338755907499-21f35g61v1f6imiagtesq5ath47bkbsv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP7rLpkJC5srWd6aqpHN6TwHI6FfBYVpw</string>
	<key>GCM_SENDER_ID</key>
	<string>338755907499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.helloworld.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>applicationflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>applicationflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338755907499:ios:b542fff8f3b56c7aed2cee</string>
</dict>
</plist>